<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Welcome! </title>
        <link rel = "stylesheet" href = "week5/style.css">
    </head>
    <body>
        <p>Ну здравствуй, <%=username %>! Давно не виделись. </p>
    </body>
</html>